/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

*{
	/*border: 1px red dotted;*/
	
	font-family: 'IBM Plex Sans', sans-serif;
}
img{
	max-width: 100%;
}
html {
	height: auto;
}
body{
	min-height: fit-content;
	background: #0F1016;
	color: #FFF;
	overflow-x: hidden;
}
h2{
	color: #FFF;
	font-family: IBM Plex Sans;
	font-size: 35px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.content {
	height: 100%;
	width: 1140px;
    margin-left: auto;
    margin-right: auto;
 }
.content-box__header {
	height: 75px;
	display: flex;
	justify-content:space-between;
	align-items:center;
 }
.text__header { 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}
.header__burger{
	display: none;
	order: 3;
}.header__burger::before,
.header__burger::after{
	content: '';
	background-color: #FFF;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	
	transition: all 0.3s ease 0s;
}.header__burger::before{
	top:11%;
}
.header__burger span{
	position: absolute;
	background-color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	top: 46%;
	transition: all 0.3s ease 0s;
}
.header__burger::after{
	bottom: 11%;
}
.buttons-container__header { 
	display: flex;
}
.button__header { 
	color: #BABABA;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 15px;
}.button__header:hover{
	color: #FFF;
	text-decoration: underline; 
}
.green-button { 
	color: #1DC565;
	width: 133px;
	height: 40px;
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: #256b43;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;	
	margin: 5px;
}
.green-button:hover{
	
	background-color: #205c3a;
	color: #FFF;
}
.text-block {
	margin: 65px 0;
}
.bigger-text__text-block { 
	display: inline;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	flex-wrap:wrap ;
}
.bigger-text__text-block span:first-child{
	min-width: 100%;
}
.bigger-text__text-block span:last-child{ 
	display: flex;
  	align-items: center;
  	justify-content: center;
	display: inline-block;
	color: #BABABA;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 60px;
	width: 530px;
	margin-left: 60px;
	align-self: self-end;
	padding: 5px 0;
}

.image-box { 
	height: 380px;
	margin-top: 130px;
}
.img-container__image-box { 
	position: relative;
	height: 100%;
	background: url("/img/1.jpg");
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-size: cover;
}
.video-container__image-box {
	position: absolute;
	top: -70px;
	right: 0px;
	background: rgba(0, 0, 0, 0.49);
	display: flex;
	width: 430px;
	height: 125px;
 }
 .text-box__video-container {
	margin: 20px 35px 26px 40px;
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
  .text-box__video-container p:first-child{
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
  .text-box__video-container p:last-child{
	color: #898989;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
 .video-box__video-container{
	background: url("/img/bali-pagoda-indonesia-1.png");
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .video-box__video-container a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: rgba(217, 217, 217, 0.68);
 }.video-box__video-container a:hover{
	background-color: rgba(165, 158, 158, 0.68);
 }
 .sponsors__container{
	display: flex;
	justify-content:space-around;
	height: 75px;
	margin-top: 120px;
 }
 .sponsors__container img{
	max-width: 100%;
 }
.attraction { 
	margin-top: 120px;
}
.header__attraction { 
	margin: 30px 0 45px 0;
	display: flex;
}
.header__attraction p{
	width: 50%;
	font-style: normal;
	line-height: normal;
}
.header__attraction p:first-child{
	margin-right: 15px;
	color: #FFF;
	font-size: 35px;
	font-weight: 600;
}
.header__attraction p:last-child{
	display: flex;
	align-items: center;
	margin-left: 15px;
	color: #BABABA;
	font-size: 15px;
	font-weight: 400;
}
.information__attraction {
	display: flex;
	justify-content:space-between;
 }
 .bar {
	display: flex;
	width: 23%;
 }
 .bar-img{
	max-width: 100%;
 }
 .bar:nth-child(even){
	flex-direction: column-reverse;
 }
 .bar:nth-child(even) img{
	margin-top: 25px;
 }
 .bar:nth-child(odd){
	flex-direction: column;
 }
 .bar:nth-child(odd) img{
	margin-bottom: 25px;
 }
.text-container__bar { 

}
.text-container__bar p:first-child{
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 20px;
}
.text-container__bar p:last-child{
	color: #BABABA;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.galerry {
	background-color: #1E1D1E;
	margin-top: 120px;
	padding: 120px 0;
	
 }
.header__gallery { 
	width: 55%;
	margin: 30px 0;
}
.check-box-container { 
	display: flex;
	justify-content: space-between;
}
.gallery-container{
	height: 347px;
	overflow: hidden;
}
.image-box__check-box-container{
	transition: all ease 1s;
	position: relative;
}
.check-box__check-box-container { 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.radio-container__check-box {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 555px;
	height: 95.743px;	
	border-radius: 20px;
	border: 1px solid #A1A1A1;
	padding: 10px;
 }
 
 .radio-container__text-box{
	position: relative;
	display: flex;
	align-items: center;
 }
 .dot-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	border: 1px solid #BABABA;
	border-radius: 50%;
	margin-right: 20px;
 }
 .dot-box::after{
	content: "";
	height: 66%;
	width: 66%;
	background: #FFF;
	border-radius: 50%;
	transform: scale(0);
	transition: 300ms ease-in-out 0s
 }
.text-container__radio{
	position: relative;
	width: 439px;
}
.checkbox-mobile{
	display: none;
}
.radio-container__text-box p:nth-child(1){
	color: #FFF;
	font-size: 16px;	
	font-style: normal;
	font-weight: 600;
	line-height: normal;	
	margin-bottom: 10px;
 }	
 .radio-container__text-box p:nth-child(2){
	color: #BABABA;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}	
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked + label{
	background: #1F2D25;
	border: none;
}
input[type="radio"]:checked + label div:nth-child(1)::after {
	transform: scale(1);
 }
 
 .reviev { 
	margin: 120px;
 }
 .wrapper__reviev { 
	display: flex;
}
.wrapper__reviev h2{
	width: 60%;	
}
 .button-container__reviev { 
	display: flex;
	margin-left: 270px;
 }

 .reviev-button{
	position: relative;
	margin: 0 13px;
	width: 64px;
	height: 64px;
	background-color: #FFF;
	border-radius: 50%;
	
    cursor: pointer;
 }
 .reviev-button::after{
	content: '';
	position: absolute;
	top: 50%;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: #292D32;
	padding: 5px;
 }
 .left-button::after{
	transform: translateY(-50%) rotate(135deg);
	left: 45%;
 }
 .right-button::after{
	right: 45%;
	transform: translateY(-50%) rotate(-45deg);
  }
  .reviev-button:active{
	background-color: #434347;
  }.reviev-button:active::after{
	border-color: #fff;
  }
 .revievs-container {
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
  }
 .reviev-block {
	margin: 60px 15px 0 0;
	width: 555px;
	height: 310px;
	border-radius: 15px;
	background: #1E1D1E;	
	padding: 45px 35px 45px 30px;
	flex-shrink: 0;
  }
 .mark {
	display: flex;
	margin-bottom: 32px;
  }
  .mark li{
	margin-right: 9px;
  }
  .star{
	width: 24px;
	height: 24px;
  }
 .text__reviev-block { 
	width: 482px;
	height: 94px;
	color: #BABABA;
	font-size: 15px;
	line-height: 19.5px;
 }
 .person__reviev-block { 
	margin-top: 20px;
	display: flex;
	align-items: center;
 }
 .avatar-box{
	overflow: hidden;
	border-radius: 50%;
	width: 65px;
	height: 65px;
 }
 .avatar { }
 .name {
	margin-left: 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

  }
  .faq{
	margin-bottom: 140px;
	height: 541px;
  }
  .faq-wrapper{
	display: flex;
  }
  .text-side__faq{
	width: 555px;
	margin-right: 35px;
  }
  .dropdown-container { 
	position: relative;
	padding-bottom: 23px;
  }
  .dropdown-container::after{
	content: '';
	position: absolute;
	bottom: 0%;
	height: 1px;
	width: 555px;
	background-color: #4A4A4A;
  }
 .dropdown-child__faq { }
 .dropdown-opener{ 
	margin-top: 50px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
 }
 
 .dropdown-opener span{
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
 }
 .dropdown-button {
	position: relative;
	width: 12px;
	height: 12px;
	margin-right: 24px;
  }
 .dropdown-button::before,
 .dropdown-button::after{
	content: '';
	background-color: #FFF;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	transition: all 0.3s ease 0s;
}.dropdown-button::before{
	transform: rotate(90deg)
}

 .dropdown-body {
	display: none;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
  }
  .dropdown-child__faq:hover .dropdown-button::before{
	transform: rotate(180deg);
  }
  .dropdown-child__faq:hover .dropdown-body{
	
	
	display: block;
 }
  .image-side__faq{
	width: 555px;
	height: 414px;
	padding-top: 60px;
  }
  footer{
	background-color: #1E1D1E;
  }
 
 /*-----------------------ADAPTIVE------------------------------------ */
@media (max-width:768px){
	
	.content{
		width: 80%;
	}

}
@media (max-width: 576px){
	.content{
		width: 92%;
	}
	header{
		position: sticky;
		top: 0;
		z-index: 3;
		background-color: #0F1016;
	}
	h2{
		width: 100%;
		font-size: 24px;
	}
	.text__header{
		font-size: 18px;
		font-weight: 500;
	}
	.burger-container{
		width: 40px;
		height: 40px;
		background-color:#205c3a;
	}
	.header__burger{
		display: block;
		position: relative; 
		width: 22px;
		height: 22px;
		z-index: 3;
		margin: 9px;
	}
	.header-menu{
		position: fixed;
		top: 0;
		right: -100%;		
		width: 55%;
		height: 110%;
		background: rgba(32, 92, 58, 1);
		z-index: 2;
		padding: 70px 10px 10px 10px;
		transition: all 0.3s ease 0s;
		border: #1F2D25 3px solid;
	}
	.header-menu.active{
		right: 0;
	}
	.header__burger.active::before{
		transform:rotate(45deg);
		top: 10px;
	}.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active::after{
		transform:rotate(-45deg);
		bottom: 10px;
	}
	.buttons-container__header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.buttons-container__header li{
		margin: 0 0 60px 0;
		padding: 15px;
	}
	.button__header{
		margin: 0;
		font-size: 30px;
	}
	
	.img-container__image-box{
		display: block;
	}
	.sponsors__container{
		flex-wrap: wrap;
	}
	.information__attraction{
		flex-wrap: wrap;
	}
	.bar{
		width: 100%;
	}
	.bar :nth-child(){
		flex-direction: column;
	}
	.check-box-container{
		flex-direction: column;
	}
	.radio-container__check-box{
		width: 100%;
		overflow: hidden;
	}
	.bigger-text__text-block br{
		display: none;
	}
	.bigger-text{
		font-size: 32px;
		display: inline;
	}
	.bigger-text__text-block span:nth-child(4){
		font-size: 15px;
		margin-top: 20px;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.video-container__image-box{
		width: 95%;
		left: auto;
		right: auto;
		height: fit-content;
	}
	.text-box__video-container{
		
		margin: 0;
		padding: 15px 26px;
		font-size: 17px;
	}
	.video-box__video-container{
		background-position: 0%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.image-box{
		height: 70vh;
	}
	.img-container__image-box{
		background-position: 50% 45%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: 425%;
	}
	.sponsors{
		margin-top: 30px;
	}
	.sponsors__container{
		margin-top: 0;
		height: fit-content;
	}
	.sponsors__container img{
		max-width: 40%;
		margin-bottom: 20px;
	 }
	 .greeny-button{
		display: none;
	 }
	 .attraction{
		margin-top: 100px;
	 }
	 .green-button{
		width: 110px;
		height: 40px;
		font-size: 20px;
	 }
	 .header__attraction{
		flex-direction: column;
	 }
	 .header__attraction p{
		width: 100%;
	 }
	 .header__attraction p:nth-child(1){	
		margin-top: 40px;
		font-size: 24px;
	 }
	 .header__attraction p:nth-child(2){
		margin: 0;
		margin-top: 33px;
	 }
	 .information__attraction{
		margin-top: 40px;
	 }
	 .bar:nth-child(even){
		flex-direction: column;
	 }
	 .bar{
		margin-top: 25px;
	 }.bar-img img{
		margin: 0;
		padding: 0;
		width: 100%;
	 }
	 .bar-img{
		height: 330px;
		overflow: hidden;
	 }
	 .bar:nth-child(odd) img {
		margin-bottom: 0px;
	}
	 .text-container__bar p:first-child{
		margin-top:20px;
		font-size: 16px;
		font-weight: 600;
	 }
	 .text-container__bar p:last-child{
		font-size: 12px;
		font-weight: 600;
		line-height: 18px;
	}
	.galerry{
		margin-top: 100px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.header__gallery{
		width: 100%;
	}
	.check-box-container{
		display: none;
	}
	.checkbox-mobile{
		display: block;
	}
	.image-window__checkbox__mobile {
		max-width: 100%;
		overflow: hidden;
	 }
	.image-caruseel__checkbox-mobile {
		display: flex;
	 }
	.text-caruseel-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-top: 40px;
		background-color: #1F2D25;;
		height: 80px;
		border-radius: 19px;
	 }
	 .galerry-button{
		position: relative;
		width: 30px;
		height: 30px;
		background-color: #FFF;
		border-radius: 50%;
		cursor: pointer;

	 }
	.left-button__checkbox { }
	.right-button__checkbox { }
	.text-window__checkbox {
		width: 70%;
		overflow: hidden;
	 }
	.text-caruseel {
		display: flex;
	 }
	 .text-caruseel p:nth-child(1){
		color: #FFF;
		font-size: 12px;	
		font-weight: 600;
		text-align: center;
		margin-bottom: 7px;
	 }
	 .text-caruseel p:nth-child(2){
		color: #BABABA;
		text-align: center;
		font-size: 12px;
		font-weight: 400;	
		line-height: normal;
	 }
	.day__text-caruseel {
		min-width: 100%; 
	}
	.reviev{
		margin: 0;
		margin-top: 100px;;
	}
	.wrapper__reviev{
		flex-wrap: wrap;
	}
	.reviev h2{
		margin-top: 40px;
		width: 100%;
	}
	.button-container__reviev{
		display: none;
	}
	.reviev-block{
		max-width: 100%;
		height: 310px;
	}
	.text__reviev-block{
		max-width: 100%;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.faq{
		margin-top: 100px;
		height: fit-content;
	}
	.faq-wrapper{
		flex-wrap: wrap;
	}
	.image-side__faq{
		height: 414px;
	}
}
 /*------------------------------------------------------------------- */